
//== Template Main Color
$color-main : #043381;
$color-white : #fff;
$color-black : #404040;
$danger :  #F12552;
$color-para: #666;

$color-gray : #F5F5F5;
$color-gray99 : #F9F9FA;
$tutu : #FFE8E8;
$color-white-smoke: #EFEFEF;
$grey2 : #515151;
$color-gray80 : #ccc;


/*-----------------
    # Typography
-----------------*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

//  transition
$transition: all .3s ease-in;
$transition-long: all .5s ease-in;


@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Book.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-BookItalic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Circular Std";
    src: url("../fonts/CircularStd-MediumItalic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}