.movement-area {
    background: $color-main;
    padding: 130px 0px;
    position: relative;

    &:before {
        position: absolute;
        content: '';
        width: 450px;
        height: 450px;
        background: rgba(255, 255, 255, 0.1);
        right: -6%;
        top: 25%;
        border-radius: 50%;
    }
    &:after {
        position: absolute;
        content: '';
        width: 57px;
        height: 57px;
        background: rgba(255, 255, 255, 0.1);
        right: 14%;
        top: 71%;
        border-radius: 50%;
    }
}
.movement-box {

    ul {
        padding: 0;
        margin: 0;
        margin-top: 30px;

        li {
            list-style: none;
            margin: 15px 0px;

            a {
                font-family: var(--secondary-font);
                letter-spacing: 0;
                color: $color-white;
                font-weight: 400;
                line-height: 22px;
                font-size: 16px;

                i {
                    width: 30px;
                    transition: all .3s;
                }
            }
        }
    }
}
.movement-left-box {
    text-align: right;
    img {
        border-radius: 15px;
        margin: 10px 0px;
    }
}
.movement-right-box {
    img {
        border-radius: 15px;
        margin: 10px 0px;
    }
}