.upcoming-box {
    border: 2px solid #F5F5F5;
    position: relative;
    min-height: 300px;
    margin-bottom: 120px;
    margin-top: 60px;
    transition: all .3s;
    border-radius: 10px;
    background: #f6f6f6;

    &:hover {
        box-shadow: 0px 10px 50px #2E319211;
        border-color: transparent;
        background: #fff;

        .ub-content h4 {
            color: $color-main;
        }
    }

    .ub-image {
        position: absolute;
        top: -100px;
        left: 10%;
        width: 80%;
        right: 10%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .ub-content {
        padding-top: 190px;
        padding-left: 50px;
        padding-bottom: 30px;

        h4 {
            font-size: 30px;
            color: #404040;
            padding-right: 20px;
            margin-bottom: 15px;
        }

        p {
            font-size: 16px;
            color: #404040;

            i {
                color: $color-main;
            }
        }
    }

    .date-box {
        width: 90px;
        height: 100px;
        background: #fff;
        position: absolute;
        box-shadow: 0px 15px 13px rgba(4, 51, 129, 0.1);
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        right: 40px;
        top: 53px;
        border-radius: 10px;

        &:before {
            position: absolute;
            content: '';
            width: 78px;
            height: 20px;
            background: rgba(#2E319233, .1);
            bottom: -8px;
            border-radius: 5px;
            left: 7px;
            z-index: -1;
        }

        .date {
            font-size: 55px;
            color: $color-main;    
            line-height: 30px;
            padding-top: 20px;
        }

        .month {
            font-size: 29px;
            color: $color-main;
        }
    }
}

.up-content-style-01 {
    box-shadow: 0px 20px 50px #2E319211;
    padding: 30px 20px;
    border-bottom: 5px solid $danger;
    margin-top: 50px;
    margin-left: -85px;
    background: $color-white;

    .date-month {
        position: relative;

        &:before {
            position: absolute;
            width: 120px;
            height: 1px;
            background: $color-main;
            content: '';
            top: 38px;
            left: 85px;
        }
        .date {
            font-size: 55px;
            color: $color-main;
            font-weight: 500;
        }

        .month {
            font-size: 18px;
            text-transform: uppercase;
            color: $color-main;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }

    h6 {
        font-size: 24px;
        color: $color-black;
        font-weight: 500;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin: 20px 0px;

            a {
                font-family: var(--secondary-font);
                color: $color-para;

                i {
                    color: $color-main;
                }
            }
        }
    }

    .btn-wrapper {
        margin-top: 50px;

        &:hover {
            a {
                color: $color-main;
            }
        }
    }
}