.support-area {
    padding-top: 115px;
    padding-bottom: 105px;
}
.donate-area .btn {
    margin-top: 15px;
}
.donate-ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    li {
        float: left;
        list-style: none;
        border: 2px solid #F5F5F5;
        padding: 10px 36px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 5px;
        transition: all .3s;
        font-size: 24px;
        color: #919191;
        cursor: pointer;

        &:hover, &.active {
            background: $color-main;
            color: $color-white;
        }

        &:last-child {
            padding: 0px;
            background: transparent;

            input {
                padding: 9px 0px;
                width: 190px;
                padding-left: 36px;
                font-size: 24px;
                border: 0;
                color: $color-main;
                border-color: #F5F5F5;

                &:focus, &:hover {
                    border: 0;
                }
            }

            ::placeholder {
                color: $color-main;
            }

            &:hover {
                background: transparent;
            }
        }
    }
}
.donate-wrapper {
    position: absolute;
    right: -70px;
    transform: rotate(-90deg);
    background: #fff;
    box-shadow: 0px 0px 50px #2E319211;
    padding: 15px 30px;
    border-right: 2px solid $danger;
    margin-top: 75px;

    a {
        font-size: 20px;
        color: $color-main;
        margin-bottom: 0px;

        i {
            color: $danger;
            font-size: 16px;
        }
    }
}