.location-area {
    padding-top: 115px;
    padding-bottom: 20px;
}
.location-content {
    p {
        font-family: var(--secondary-font);
        color: $color-para;
        line-height: 35px;
        margin-bottom: 50px;
    }
}