.politx-content-area {
    position: relative;

    .org-img {
        position: absolute;
        top: -100px;
        right: -20%;
    }
}

.organization-content {
    background: rgba($color-main, .05);
    padding: 100px 38% 100px 80px;
}